@model IEnumerable<einvoice.Models.TURNKEY_MESSAGE_LOG_DETAIL>
@{
    string eInvServer = ViewBag.eInvServer;
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SEQNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBSEQNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROCESS_DTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TASK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th style="width:10%">
            @Html.DisplayNameFor(model => model.FILENAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a class="btn glyphicon-arrow-down" href="~/MessageTrack/RawData?filename=@item.FILENAME&eInvServer=@eInvServer" target="_blank">@Html.DisplayFor(modelItem => item.SEQNO) &raquo;</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBSEQNO)
        </td>
        <td>
            @einvoice.Models.Constant.FormatDateTime(item.PROCESS_DTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TASK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td style="font-size:0.6em; word-wrap: break-word;">
            @Html.DisplayFor(modelItem => item.FILENAME)
        </td>
        <td>
            <a class="btn glyphicon-arrow-down" href="~/MessageTrack/RawData?filename=@item.FILENAME&eInvServer=@eInvServer" target="_blank">RawData &raquo;</a>
            <!--<a class="btn btn-default" href="~/api/eInvoiceDoc/GetEinvoiceFile?filename=@item.FILENAME" target="_blank">RawData &raquo;</a>-->
        </td>
    </tr>
}

</table>
