@model IEnumerable<Meetings.Models.vMeetingDateActivate>
<div class="row">
    <div class="col-md-12">
        <p>
            @using (Html.BeginForm("Index", "MeetingDateActivate", FormMethod.Post, new { enctype = "multipart/form-data", name = "meeting", id = "meeting" }))
            {
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().ActivateDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().ActivateDesc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().ActivateSDT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().ActivateEDT)
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item != null)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelitem => item.ActivateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.ActivateDesc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.ActivateSDT, "{0:yyyy/MM/dd}")
                                </td>
                                <td>@Html.DisplayFor(modelitem => item.ActivateEDT, "{0:yyyy/MM/dd}")</td>
                                <td>
                                    <table class="table table-bordered table-striped table-condensed">
                                        <tr>
                                            <th>@Html.ActionLink("登入", "Index", "Home", new { id = item.ActivateId }, "")</th>
                                            <th>應到</th>
                                            <th>出席</th>
                                            <th>未到</th>
                                        </tr>
                                        <tr>
                                            <td>@Html.ActionLink("出席狀況", "Report", "Home", new { id = item.ActivateId, Sex = item.Sex }, "")</td>
                                            <td>@Html.ActionLink(item.CountSignMembers().ToString(), "Report", "Home", new { id = item.ActivateId, Sex = item.Sex }, new { alt = "應到" })</td>
                                            <td>@Html.ActionLink(item.CountAttend(true).ToString(), "Report", "Home", new { id = item.ActivateId, Sex = item.Sex, Attend = true }, new { alt = "出席" })</td>
                                            <td>@Html.ActionLink(item.CountAttend(false).ToString(), "Report", "Home", new { id = item.ActivateId, Sex = item.Sex, Attend = false }, new { alt = "未到" })</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        }
                    }
                </table>
            }
        </p>
    </div>
</div>
