@model Meetings.Models.MeetingDateActivate
@{
    ViewBag.Title = "Create Meeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MeetingDateActivate</legend>
        @Html.HiddenFor(model => model.meetingDateId)
        @Html.HiddenFor(model => model.ActivateId)
        <div class="raw">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <th class="editor-label">@Html.LabelFor(model => model.ActivateId)</th>
                        <td class="editor-field">@Html.DisplayFor(model => model.ActivateId)</td>
                    </tr>
                    <tr>
                        <th class="editor-label">@Html.LabelFor(model => model.ActivateDesc)</th>
                        <td class="editor-field">@Html.EditorFor(model => model.ActivateDesc)@Html.ValidationMessageFor(model => model.ActivateDesc)</td>
                    </tr>
                    <tr>
                        <th class="editor-label">@Html.LabelFor(model => model.ActivateDate) [訓練日期]</th>
                        <td class="editor-field">@Html.EditorFor(model => model.ActivateDate)@Html.ValidationMessageFor(model => model.ActivateDate)</td>
                    </tr>
                    <tr>
                        <th class="editor-label">@Html.LabelFor(model => model.Sex) [B/S/A]</th>
                        <td class="editor-field">@Html.EditorFor(model => model.Sex)@Html.ValidationMessageFor(model => model.Sex)</td>
                    </tr>
                    <tr>
                        <th class="editor-label">@Html.LabelFor(model => model.SDT) [開始時間]</th>
                        <td class="editor-field">@Html.EditorFor(model => model.SDT)@Html.ValidationMessageFor(model => model.SDT)</td>
                    </tr>
                    <tr>
                        <th class="editor-label">@Html.LabelFor(model => model.EDT) [結束時間]</th>
                        <td class="editor-field">@Html.EditorFor(model => model.EDT)@Html.ValidationMessageFor(model => model.EDT)</td>
                    </tr>
                </table>
            </div>
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id=Model.meetingDateId})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

