@model Meetings.Models.vMeetingDateActivate

@{
    ViewBag.Title = "Edit MeetingDateActivate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Activate Meeting by Date</legend>

        @Html.HiddenFor(model => model.meetingDateId)
        <div class="raw">
            <div class="col-md-6">
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <th class="display-label">@Html.LabelFor(model => model.ActivateId)</th>
                        <td class="display-field">@Html.DisplayFor(model => model.ActivateId)</td>
                    </tr>
                    <tr>
                        <th class="editor-label">@Html.LabelFor(model => model.ActivateDesc)</th>
                        <td class="editor-field">@Html.DisplayFor(model => model.ActivateDesc)</td>
                    </tr>
                    <tr>
                        <th class="editor-label">@Html.LabelFor(model => model.ActivateDate)</th>
                        <td class="editor-field">@Html.DisplayFor(model => model.ActivateDate)</td>
                    </tr>
                    <tr>
                        <th class="editor-label">@Html.LabelFor(model => model.Sex)</th>
                        <td class="editor-field">@Html.DisplayFor(model => model.Sex)</td>
                    </tr>
                    <tr>
                        <th class="editor-label">@Html.LabelFor(model => model.ActivateSDT)</th>
                        <td class="editor-field">@Html.DisplayFor(model => model.ActivateSDT)</td>
                    </tr>
                    <tr>
                        <th class="editor-label">@Html.LabelFor(model => model.ActivateEDT)</th>
                        <td class="editor-field">@Html.DisplayFor(model => model.ActivateEDT)</td>
                    </tr>
                </table>
                </div>
            <div class="col-md-6">
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <th class="display-label">@Html.LabelFor(model => model.meetingId)</th>
                        <td class="display-field">@Html.DisplayFor(model => model.meetingId)</td>
                    </tr>
                    <tr>
                        <th class="editor-label">@Html.LabelFor(model => model.MeetingName)</th>
                        <td class="editor-field">@Html.DisplayFor(model => model.MeetingName)</td>
                    </tr>
                    <tr>
                        <th class="editor-label">@Html.LabelFor(model => model.Description)</th>
                        <td class="editor-field">@Html.DisplayFor(model => model.Description)</td>
                    </tr>
                    <tr>
                        <th class="editor-label">@Html.LabelFor(model => model.STDT)</th>
                        <td class="editor-field">@Html.DisplayFor(model => model.STDT)</td>
                    </tr>
                    <tr>
                        <th class="editor-label">@Html.LabelFor(model => model.ENDDT)</th>
                        <td class="editor-field">@Html.DisplayFor(model => model.ENDDT)</td>
                    </tr>
                    <tr>
                        <th class="editor-label">@Html.LabelFor(model => model.ActivateEDT)</th>
                        <td class="editor-field">@Html.DisplayFor(model => model.ActivateEDT)</td>
                    </tr>
                    <tr>
                        <th class="display-label">@Html.LabelFor(model => model.CDT)</th>
                        <td class="display-field">@Html.DisplayFor(model => model.CDT)</td>
                    </tr>
                </table>
            </div>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ActivateId }) 
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id=Model.meetingDateId})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
