<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - B2B Message Tracking Service</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrapmin")
    @Styles.Render("~/Content/bootstrapdatetime")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/GoJS")

    @Scripts.Render("~/bundles/Chart")

    <!--
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" />


    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script src="~/Scripts/jquery-2.2.3.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/respond.js"></script>
    -->
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("B2B App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("B2BMT", "Index", "B2BMT")</li>
                    <li>@Html.ActionLink("Statistic", "Index", "Statistic")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Help", "Help", "Home")</li>
                </ul>
                <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-left: 3%;margin-right: 3%; width:94%">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - B2B PI/webMethods Application</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
