@model Meetings.Models.MeetingDate
@{
    ViewBag.Title = "Create Meeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MeetingDate</legend>
        @Html.HiddenFor(model => model.meetingId)
        <table class="table table-bordered table-striped table-condensed">
            <tr>
                <th class="editor-label">@Html.LabelFor(model => model.meetingId)</th>
                <td class="editor-field">@Html.EditorFor(model => model.meetingId)@Html.ValidationMessageFor(model => model.meetingId)</td>
            </tr>
            <tr>
                <th class="editor-label">@Html.LabelFor(model => model.meetingDateId)</th>
                <td class="editor-field">@Html.EditorFor(model => model.meetingDateId)@Html.ValidationMessageFor(model => model.meetingDateId)</td>
            </tr>
            <tr>
                <th class="editor-label">@Html.LabelFor(model => model.Description)</th>
                <td class="editor-field">@Html.EditorFor(model => model.Description)@Html.ValidationMessageFor(model => model.Description)</td>
            </tr>
            <tr>
                <th class="editor-label">@Html.LabelFor(model => model.STDT)</th>
                <td class="editor-field">@Html.EditorFor(model => model.STDT)@Html.ValidationMessageFor(model => model.STDT)</td>
            </tr>
            <tr>
                <th class="editor-label">@Html.LabelFor(model => model.ENDDT)</th>
                <td class="editor-field">@Html.EditorFor(model => model.ENDDT)@Html.ValidationMessageFor(model => model.ENDDT)</td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

