@model VS2012MVC4.Models.ChangePasswordModel

@{
    ViewBag.Title = "變更密碼";
}

@section Header {
    @Html.ActionLink("取消", "Index", "Home", null, new { data_icon = "arrow-l", data_rel = "back" })
    <h1>@ViewBag.Title</h1>
}

<p>
    密碼的長度至少必須為 @Membership.MinRequiredPasswordLength 個字元。
</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">帳戶資訊</li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.OldPassword)
            @Html.PasswordFor(m => m.OldPassword)            
        </li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)            
        </li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)            
        </li>

        <li data-role="fieldcontain">
            <input type="submit" value="變更密碼" />
        </li>
    </ul>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}