@model IEnumerable<Meetings.Models.vMeetingDate>
@using Meetings.Models;
@using Meetings.Controllers.General;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid meetingId = ViewBag.id;
    bool IsAdmin = User.IsInRole("Admin");
}
@if (IsAdmin)
{
<p>
    @Html.ActionLink("Create Meeting", "Create", new { id = meetingId })
</p>
}
<div class="row">
    <div class="col-md-12">
        <p>
            @using (Html.BeginForm("Index", "MeetingDate", FormMethod.Post, new { enctype = "multipart/form-data", name = "meeting", id = "meeting" }))
            {
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <th >
                            @Html.DisplayNameFor(model => model.FirstOrDefault().MeetingName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
                        </th>
                        <th >
                            @Html.DisplayNameFor(model => model.FirstOrDefault().CDT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().STDT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().ENDDT)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        if (item != null)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelitem => item.MeetingName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.CDT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.STDT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.ENDDT)
                                </td>
                                <td>
                                    @Html.ActionLink("登入", "Index", "MeetingDateActivate", new { id = item.meetingDateId }, "") 
                                </td>
                            </tr>
                        }
                    }
                </table>
            }
        </p>
    </div>
</div>