@model IEnumerable<Meetings.Models.vMeetingDate>
<div class="row">
    <div class="col-md-4" style="width:100%">
        <p>
            @using (Html.BeginForm("Index", "MeetingDate", FormMethod.Post, new { enctype = "multipart/form-data", name = "meeting", id = "meeting" }))
            {
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <th style="width:20%">
                            期別
                        </th>
                        <th style="width:20%">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().STDT)
                        </th>
                        <th style="width:20%">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().ENDDT)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.Description, "Index", "MeetingDateActivate", new { id = item.meetingDateId }, "")
                            </td>

                            <td>@Html.DisplayFor(modelitem => item.STDT)</td>

                            <td>@Html.DisplayFor(modelitem => item.ENDDT)</td>

                            <td>
                                @Html.ActionLink("全部", "Index", "MeetingDateMember", new { id = item.meetingDateId, Sex="" }, "") &nbsp;|&nbsp;
                                @Html.ActionLink("弟兄", "Index", "MeetingDateMember", new { id = item.meetingDateId, Sex="B" }, "") &nbsp;|&nbsp;
                                @Html.ActionLink("姊妹", "Index", "MeetingDateMember", new { id = item.meetingDateId, Sex = "S" }, "") &nbsp;|&nbsp;
                                @Html.ActionLink("報名", "Create", "MeetingDateMember", new { id = item.meetingDateId, Sex = "S" }, "")
                            </td>
                        </tr>
                    }
                </table>
            }
        </p>
    </div>
</div>
