@{
    ViewBag.Title = "Message Tracking Test";
    ViewBag.Message = @"PI Message Tracking Service to DEV/QAS/PROD (PID/PIQ/PIP)";
    string Rslt = (string)ViewData["RsltRawdata"];
    string piServer = ViewBag.piServer;
    string newUrl = (ViewBag.newUrl != null) ? ViewBag.newUrl : string.Empty;
}
<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <h4>@newUrl</h4>
</div>
@using (Html.BeginForm("Test", "Home", FormMethod.Post))
{
    <label class="radio-inline">
        <input type="radio" name="optradio" value="PIDServer" @((piServer == "PIDServer") ? "checked" : string.Empty)>PID
    </label>
    <label class="radio-inline">
        <input type="radio" name="optradio" value="PIQServer" @((piServer == "PIQServer") ? "checked" : string.Empty)>PIQ
    </label>
    <label class="radio-inline">
        <input type="radio" name="optradio" value="PIPServer" @((piServer == "PIPServer") ? "checked" : string.Empty)>PIP
    </label>
    <table class="table table-bordered table-striped">
        <tr>
            <th>@Html.Label("MSGID", new { @for = "inputlg" })</th>
            <td style="width:75%">@Html.TextBox("id", "", "", new { @class = "col-xs-12 col-md-12 col-lg-12 input-lg" })</td>
            <td style="width:20%"><input class="btn-primary btn-lg col-xs-12 col-md-12 col-lg-12" type="submit" value="Get RawData" /></td>
        </tr>
    </table>
    <table class="table table-bordered table-condensed">
        <tr>
            <td>
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <pre>@Rslt</pre>
                </div>
            </td>
        </tr>
    </table>
}