@model IEnumerable<B2BService.Models.VMTDB>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string parentMessageId = string.Empty;
    string piServer = ViewBag.piServer;
    string SegmentDelimiter = ViewBag.SegmentDelimiter;
    DateTime? cdtFrom = (ViewBag.cdtFrom != null) ? (DateTime)ViewBag.cdtFrom : DateTime.Now.AddMonths(-1);
    DateTime? cdtEnd = (ViewBag.cdtEnd != null) ? (DateTime?)ViewBag.cdtEnd : DateTime.Now;

    string CdtFrom = cdtFrom.Value.ToString("yyyy/MM/dd HH:mm:ss");
    string CdtEnd = cdtEnd.Value.ToString("yyyy/MM/dd HH:mm:ss");
    string SqlString = string.IsNullOrEmpty(ViewBag.SqlString) ? string.Empty : ViewBag.SqlString;

    IList<string> Partners = (IList<string>)ViewData["Partners"];
    IList<string> Divisions = (IList<string>)ViewData["Divisions"];
    IList<string> Regions = (IList<string>)ViewData["Regions"];
    IList<string> ISASenderIDs = (IList<string>)ViewData["ISASenderIds"];
    IList<string> ISAReceiverIDs = (IList<string>)ViewData["ISAReceiverIds"];
    IList<string> GSSenderIDs = (IList<string>)ViewData["GSSenderIds"];
    IList<string> EDIMsgTypes = (IList<string>)ViewData["EDIMsgTypes"];
}
<script type="text/javascript">

    $(function () {

        $('#datetimepicker6').datetimepicker({
            format: 'YYYY/MM/DD HH:mm:ss'
        });
        $('#datetimepicker7').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            format: 'YYYY/MM/DD HH:mm:ss'
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });

        var optionsPartner = [];
        var optionsDivision = [];
        var optionsRegion = [];
        var optionsISASenderID = [];
        var optionsISAReceiverID = [];
        var optionsGSSenderID = [];
        var optionsEDIMsgType = [];
        var optionsDirection = [];
        $('.dropdown-menu a').on('click', function (event) {

            var $target = $(event.currentTarget),
                val = $target.attr('data-value'),
                $inp = $target.find('input'),
                idx,
                ItemName = $target.attr('name'),
                ItemId,
                options = [];

            switch (ItemName) {
                case 'PARTNER':
                    ItemId = $(".button-group #PARTNER");
                    options = optionsPartner;
                    break;
                case 'DIVISION':
                    ItemId = $(".button-group #DIVISION");
                    options = optionsDivision;
                    break;
                case 'REGION':
                    ItemId = $(".button-group #REGION");
                    options = optionsRegion;
                    break;
                case 'ISASENDERID':
                    ItemId = $(".button-group #ISASENDERID");
                    options = optionsISASenderID;
                    break;
                case 'ISARECEIVERID':
                    ItemId = $(".button-group #ISARECEIVERID");
                    options = optionsISAReceiverID;
                    break;
                case 'GSSENDERID':
                    ItemId = $(".button-group #GSSENDERID");
                    options = optionsGSSenderID;
                    break;
                case 'EDIMSGTYPE':
                    ItemId = $(".button-group #EDIMSGTYPE");
                    options = optionsEDIMsgType;
                    break;
                case 'DIRECTION':
                    ItemId = $(".button-group #DIRECTION");
                    options = optionsDirection;
                    break;
            }

            if ((idx = options.indexOf(val)) > -1) {
                options.splice(idx, 1);
                setTimeout(function () { $inp.prop('checked', false) }, 0);
            } else {
                options.push(val);
                setTimeout(function () { $inp.prop('checked', true) }, 0);
            }

            ItemId.val('');
            options.forEach(function (element) {
                ItemId.val(ItemId.val() + element + '\r\n');
            });

            switch (ItemName) {
                case 'PARTNER':
                    optionsPartner = options;
                    break;
                case 'DIVISION':
                    optionsDivision = options;
                    break;
                case 'REGION':
                    optionsRegion = options;
                    break;
                case 'ISASENDERID':
                    optionsISASenderID = options;
                    break;
                case 'ISARECEIVERID':
                    optionsISAReceiverID = options;
                    break;
                case 'GSSENDERID':
                    optionsGSSenderID = options;
                    break;
                case 'EDIMSGTYPE':
                    optionsEDIMsgType = options;
                    break;
                case 'DIRECTION':
                    optionsDirection = options;
                    break;
            }

            $(event.target).blur();

            console.log(options);
            return false;
        });
    });

    $(document).on("click", ".open-AddBookDialog", function () {
        var ItemId = $(this).data('id');
        $(".modal-title #ItemId").val(ItemId);
        ItemId = $(".modal-title #ItemId");
        $(".modal-body #ItemContent").val($("#" + ItemId.val()).val());
        // As pointed out in comments,
        // it is superfluous to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });

    $('#myModal').on('hidden.bs.modal', function () {
        alert('Close event!');
        var ItemId = $(".modal-title #ItemId");
        $("#" + ItemId.val()).val($(".modal-body #ItemContent").val());
        //var ItemId = $(".modal-title #ItemId");
        //$("#" + ItemId.val()).val($(".modal-body #ItemContent").val());
        //ItemId.val($(".modal-body #ItemContent").val());
        //console.log('ItemId : ' + $(".modal-body #ItemContent").val());
    });

    function setTextValue() {
        var ItemId = $(".modal-title #ItemId");
        $("#" + ItemId.val()).val($(".modal-body #ItemContent").val());
    }



</script>
<table class="table table-condensed" style="width:100%">
    <tr>
        <td>
            @using (Html.BeginForm("MT_DB", "b2bmt", FormMethod.Get))
            {
                <label class="radio-inline">
                    <input id="piServer" type="radio" name="piServer" value="POQServer" @((piServer == "POQServer") ? "checked" : string.Empty)>POQ
                </label>
                <label class="radio-inline">
                    <input id="piServer" type="radio" name="piServer" value="POPServer" @((piServer == "POPServer") ? "checked" : string.Empty)>POP
                </label><label style="font-size:22px;">||</label>
                <label class="radio-inline">
                    <input id="piServer" type="radio" name="piServer" value="PIDServer" @((piServer == "PIDServer") ? "checked" : string.Empty)>PID
                </label>
                <label class="radio-inline">
                    <input id="piServer" type="radio" name="piServer" value="PIQServer" @((piServer == "PIQServer") ? "checked" : string.Empty)>PIQ
                </label>
                <label class="radio-inline">
                    <input id="piServer" type="radio" name="piServer" value="PIPServer" @((piServer == "PIPServer") ? "checked" : string.Empty)>PIP
                </label>
                <div class="radio-inline" style="background-color: lightblue">
                    <label class="radio-inline">
                        Segment Delimiter
                    </label>
                    <label class="radio-inline"> @Html.TextBox("SegmentDelimiter", SegmentDelimiter, new { @class = "form-control", style = "width:80px; background-color: lightpink" })</label>
                </div>
                <div class="radio-inline">
                    <table>
                        <tr>
                            <td>
                                <div class='input-group date' id='datetimepicker6'>
                                    @Html.TextBox("CdtFrom", CdtFrom, new { @class = "form-control" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class='input-group date' id='datetimepicker7'>
                                    @Html.TextBox("CdtEnd", CdtEnd, new { @class = "form-control" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>


                <label class="radio-inline">
                    <input class="btn btn-primary btn-lg" type="submit" value=" Search " />
                </label>
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <td>
                            <table class="table table-bordered table-striped table-condensed">
                                <tr>
                                    <th style="width:120px;">@Html.DisplayNameFor(model => model.MSGID)</th>
                                    <th>
                                        <abbr title="Find Customer's message id">@Html.DisplayNameFor(model => model.CHLMSGID)</abbr>(AS2 MSG ID)
                                    </th>
                                    <th>@Html.DisplayNameFor(model => model.DOCNUM)</th>
                                    <th>@Html.DisplayNameFor(model => model.CONTROLNUM)</th>
                                    <th>@Html.DisplayNameFor(model => model.IDOC)</th>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.TextArea("MSGID", "", new { @class = "form-control", @rows = 1, style = "resize: none;" })
                                        <button type="button" class="open-AddBookDialog btn btn-info btn-xs" id="btnMSGID" data-id="MSGID" data-toggle="modal" data-target="#myModal">Edit</button>
                                    </td>
                                    <td>
                                        @Html.TextArea("chlMsgId", "", new { @class = "form-control", @rows = 1, style = "resize: none;" })
                                        <button type="button" class="open-AddBookDialog btn btn-info btn-xs" id="btnchlMsgId" data-id="chlMsgId" data-toggle="modal" data-target="#myModal">Edit</button>
                                    </td>

                                    <td>
                                        @Html.TextArea("Docnum", "", new { @class = "form-control", @rows = 1, style = "resize: none;" })
                                        <button type="button" class="open-AddBookDialog btn btn-info btn-xs" id="btnDOCNUM" data-id="Docnum" data-toggle="modal" data-target="#myModal">Edit</button>
                                    </td>
                                    <td>
                                        @Html.TextArea("CONTROLNUM", "", new { @class = "form-control", @rows = 1, style = "resize: none;" })
                                        <button type="button" class="open-AddBookDialog btn btn-info btn-xs" id="btnCONTROLNUM" data-id="CONTROLNUM" data-toggle="modal" data-target="#myModal">Edit</button>
                                    </td>
                                    <td>
                                        @Html.TextArea("IDOC", "", new { @class = "form-control", @rows = 1, style = "resize: none;" })
                                        <button type="button" class="open-AddBookDialog btn btn-info btn-xs" id="btnIDOC" data-id="IDOC" data-toggle="modal" data-target="#myModal">Edit</button>
                                    </td>

                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table table-bordered table-striped table-condensed">
                                <tr>
                                    <th style="width:120px;">PARTNER</th>
                                    <th>DIVISION</th>
                                    <th>REGION</th>
                                    <th>ISASENDERID</th>
                                    <th>ISARECEIVERID</th>
                                    <th>GSSENDERID</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="button-group">
                                                    @Html.TextArea("PARTNER", "", new { @class = "form-control", @rows = 1, style = "resize: none;" })
                                                    <div class="button-group">
                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>

                                                        <ul class="dropdown-menu" id="ulPARTNER" name="ulPARTNER">
                                                            @foreach (var item in Partners)
                                                            {
                                                                <li>
                                                                    <a href="#" name="PARTNER" class="small" data-value="@item" tabIndex="-1"><input type="checkbox" />&nbsp;@item</a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <button type="button" class="open-AddBookDialog btn btn-info btn-xs" id="btnPARTNER" data-id="PARTNER" data-toggle="modal" data-target="#myModal">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="button-group">
                                                    @Html.TextArea("DIVISION", "", new { @class = "form-control", @rows = 1, style = "resize: none;" })
                                                    <div class="button-group">
                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>

                                                        <ul class="dropdown-menu" id="ulDIVISION" name="ulDIVISION">
                                                            @foreach (var item in Divisions)
                                                            {
                                                                <li>
                                                                    <a href="#" name="DIVISION" class="small" data-value="@item" tabIndex="-1"><input type="checkbox" />&nbsp;@item</a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <button type="button" class="open-AddBookDialog btn btn-info btn-xs" id="btnDIVISION" data-id="DIVISION" data-toggle="modal" data-target="#myModal">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="button-group">
                                                    @Html.TextArea("REGION", "", new { @class = "form-control", @rows = 1, style = "resize: none;" })
                                                    <div class="button-group">
                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>

                                                        <ul class="dropdown-menu" id="ulREGION" name="ulREGION">
                                                            @foreach (var item in Regions)
                                                            {
                                                                <li>
                                                                    <a href="#" name="REGION" class="small" data-value="@item" tabIndex="-1"><input type="checkbox" />&nbsp;@item</a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <button type="button" class="open-AddBookDialog btn btn-info btn-xs" id="btnREGION" data-id="REGION" data-toggle="modal" data-target="#myModal">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="button-group">
                                                    @Html.TextArea("ISASENDERID", "", new { @class = "form-control", @rows = 1, style = "resize: none;" })
                                                    <div class="button-group">
                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>

                                                        <ul class="dropdown-menu">
                                                            @foreach (var item in ISASenderIDs)
                                                            {
                                                                <li>
                                                                    <a href="#" name="ISASENDERID" class="small" data-value="@item" tabIndex="-1"><input type="checkbox" />&nbsp;@item</a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <button type="button" class="open-AddBookDialog btn btn-info btn-xs" id="btnISASENDERID" data-id="ISASENDERID" data-toggle="modal" data-target="#myModal">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="button-group">
                                                    @Html.TextArea("ISARECEIVERID", "", new { @class = "form-control", @rows = 1, style = "resize: none;" })
                                                    <div class="button-group">
                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>

                                                        <ul class="dropdown-menu">
                                                            @foreach (var item in ISAReceiverIDs)
                                                            {
                                                                <li>
                                                                    <a href="#" name="ISARECEIVERID" class="small" data-value="@item" tabIndex="-1"><input type="checkbox" />&nbsp;@item</a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <button type="button" class="open-AddBookDialog btn btn-info btn-xs" id="btnISARECEIVERID" data-id="ISARECEIVERID" data-toggle="modal" data-target="#myModal">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="button-group">
                                                    @Html.TextArea("GSSENDERID", "", new { @class = "form-control", @rows = 1, style = "resize: none;" })
                                                    <div class="button-group">
                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>

                                                        <ul class="dropdown-menu">
                                                            @foreach (var item in GSSenderIDs)
                                                            {
                                                                <li>
                                                                    <a href="#" name="GSSENDERID" class="small" data-value="@item" tabIndex="-1"><input type="checkbox" />&nbsp;@item</a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <button type="button" class="open-AddBookDialog btn btn-info btn-xs" id="btnGSSENDERID" data-id="GSSENDERID" data-toggle="modal" data-target="#myModal">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <table class="table table-bordered table-striped table-condensed">
                                <tr>
                                    <th style="width:120px;">@Html.DisplayNameFor(model => model.EDIMSGTYPE)</th>
                                    <th>@Html.DisplayNameFor(model => model.DIRECTION)</th>

                                    <th>@Html.DisplayNameFor(model => model.GSRECEIVERID)</th>
                                    <th>
                                        <abbr title="Find REF value, each phase seperated with space.">KEYWORD</abbr>
                                    </th>
                                    <th>
                                        <abbr title="Find parent message id">@Html.DisplayNameFor(model => model.PARENT)</abbr>
                                    </th>
                                    <th>Status</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="button-group">
                                                    @Html.TextArea("EDIMSGTYPE", "", new { @class = "form-control", @rows = 1, style = "resize: none;" })
                                                    <div class="button-group">
                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>

                                                        <ul class="dropdown-menu">
                                                            @foreach (var item in EDIMsgTypes)
                                                            {
                                                                <li>
                                                                    <a href="#" name="EDIMSGTYPE" class="small" data-value="@item" tabIndex="-1"><input type="checkbox" />&nbsp;@item</a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <button type="button" class="open-AddBookDialog btn btn-info btn-xs" id="btnEDIMSGTYPE" data-id="EDIMSGTYPE" data-toggle="modal" data-target="#myModal">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="button-group">
                                                    @Html.TextArea("DIRECTION", "", new { @class = "form-control", @rows = 1, style = "resize: none;" })
                                                    <div class="button-group">
                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>

                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a href="#" name="DIRECTION" class="small" data-value="1" tabIndex="-1"><input type="checkbox" />&nbsp;1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" name="DIRECTION" class="small" data-value="2" tabIndex="-1"><input type="checkbox" />&nbsp;2</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <button type="button" class="open-AddBookDialog btn btn-info btn-xs" id="btnDIRECTION" data-id="DIRECTION" data-toggle="modal" data-target="#myModal">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td>@Html.TextBox("GSRECEIVERID", "", new { @class = "form-control" }) </td>
                                    <td>@Html.TextBox("keyWordSearch", "", new { @class = "form-control" })</td>
                                    <td>
                                        @Html.TextArea("PARENT", "", new { @class = "form-control", @rows = 1, style = "resize: none;" })
                                        <button type="button" class="open-AddBookDialog btn btn-info btn-xs" id="btnPARENT" data-id="PARENT" data-toggle="modal" data-target="#myModal">Edit</button>
                                    </td>
                                    <td>@Html.DropDownList("ddlSTATUS")</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            }

            <table class="table table-bordered table-striped table-condensed">
                <tr>
                    <th style="width:10%;font-size:0.7em; word-wrap: break-word;">
                        @Html.DisplayNameFor(model => model.MSGID)
                    </th>
                    <th style="width:10%;font-size:0.7em; word-wrap: break-word; white-space:nowrap;">
                        @Html.DisplayNameFor(model => model.DIRECTION)
                    </th>
                    <th style="width:10%;font-size:0.7em; word-wrap: break-word;">
                        @Html.DisplayNameFor(model => model.EDIMSGTYPE)
                    </th>
                    <th style="width:10%;font-size:0.7em; word-wrap: break-word;">
                        @Html.DisplayNameFor(model => model.GSSENDERID)
                    </th>
                    <th style="width:10%;font-size:0.7em; word-wrap: break-word;">
                        @Html.DisplayNameFor(model => model.EDIDATE)
                    </th>
                    <th style="width:8%">PI Link</th>
                    <th style="width:10%;font-size:0.7em; word-wrap: break-word;">
                        @Html.DisplayNameFor(model => model.PI_STATUS)
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    if (string.IsNullOrEmpty(item.PARENT))
                    {
                        parentMessageId = item.MSGID;
                    }
                    else
                    {
                        parentMessageId = item.PARENT;
                    }
                    <tr>
                        <td style="font-size:0.7em; word-wrap: break-word;">
                            <ul class="list-group">
                                <li class="list-group-item active">
                                    <abbr title="Message Id">M:</abbr>
                                    @Html.DisplayFor(modelItem => item.MSGID)
                                </li>
                                <li class="list-group-item">
                                    <abbr title="Parent Id">P:</abbr>
                                    @Html.DisplayFor(modelItem => item.PARENT)
                                </li>
                                <li class="list-group-item" style="word-wrap: break-word;">
                                    <abbr title="AS2 MSG ID">AS2:</abbr>
                                    @Html.DisplayFor(modelItem => item.CHLMSGID)
                                </li>
                            </ul>
                        </td>
                        <td style="font-size:0.6em; word-wrap: break-word; white-space:nowrap;">
                            <table class="table table-bordered table-striped table-condensed">
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.AS2PARTNER)</th>
                                    <td>@Html.DisplayFor(modelItem => item.AS2PARTNER)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.DIRECTION) &nbsp; @Html.DisplayFor(modelItem => item.DIRECTION)</th>
                                    <td> @Html.DisplayFor(modelItem => item.MTDirectionRemark)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.STATUS) &nbsp;@Html.DisplayFor(modelItem => item.STATUS) </th>
                                    <td>@Html.DisplayFor(modelItem => item.MTStatusRemark)</td>
                                </tr>
                            </table>
                        </td>
                        <td style="font-size:0.6em; word-wrap: break-word;">
                            <table class="table table-bordered table-striped table-condensed">
                                <tr>
                                    <th style="width:30%">@Html.DisplayNameFor(model => model.EDIMSGTYPE)</th>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.EDIMSGTYPE))
                                        {
                                            @Html.ActionLink(item.EDIMSGTYPE, "DownloadFile", new { id = parentMessageId, piServer = piServer, docnum = item.DOCNUM, msgtype = item.EDIMSGTYPE, SegmentDelimiter = SegmentDelimiter }, new { target = "_blank" })
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.DOCNUM)</th>
                                    <td>@Html.DisplayFor(modelItem => item.DOCNUM)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.CONTROLNUM)</th>
                                    <td>@Html.DisplayFor(modelItem => item.CONTROLNUM)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.IDOC)</th>
                                    <td style="word-wrap: break-word;">@Html.DisplayFor(modelItem => item.IDOC)</td>
                                </tr>
                            </table>
                        </td>
                        <td style="font-size:0.6em; word-wrap: break-word;white-space:nowrap;">
                            <table class="table table-bordered table-striped table-condensed">
                                <tr>
                                    <th style="width:30%">@Html.DisplayNameFor(model => model.GSSENDERID)</th>
                                    <td>@Html.DisplayFor(modelItem => item.GSSENDERID)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.GSRECEIVERID)</th>
                                    <td>@Html.DisplayFor(modelItem => item.GSRECEIVERID)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ISASENDERID)</th>
                                    <td>@Html.DisplayFor(modelItem => item.ISASENDERID)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ISARECEIVERID)</th>
                                    <td>@Html.DisplayFor(modelItem => item.ISARECEIVERID)</td>
                                </tr>
                            </table>
                        </td>
                        <td style="font-size:0.6em; word-wrap: break-word;white-space:nowrap;">
                            <table class="table table-bordered table-striped table-condensed">
                                <tr>
                                    <td>
                                        <abbr title="EDIDATE">E:</abbr>&nbsp;@Html.DisplayFor(modelItem => item.EDIDATE)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <abbr title="CREATEDATE">C:</abbr>&nbsp;@Html.DisplayFor(modelItem => item.CREATEDATE)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <abbr title="UPDATETIME">U:</abbr>&nbsp;@Html.DisplayFor(modelItem => item.UPDATETIME)
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td style="font-size:0.6em; word-wrap: break-word;">
                            @if (!string.IsNullOrEmpty(item.EDIMSGTYPE))
                            {
                                if (item.EDIMSGTYPE == "997")
                                {
                                    @Html.ActionLink("997RawData", "RawData", new { id = item.MSGID, piServer = piServer }, new { target = "_blank" })
                                    <br />
                                }
                            }

                            @Html.ActionLink("RawData", "RawData", new { id = parentMessageId, piServer = piServer }, new { target = "_blank" })
                            <br />
                            @Html.ActionLink("RawData2", "RawData", new { id = parentMessageId, piServer = piServer, SegmentDelimiter = SegmentDelimiter }, new { target = "_blank" })
                            <br />
                            @Html.ActionLink("MDN", "MDN", new { id = parentMessageId, piServer = piServer }, new { target = "_blank" })
                            <br />
                            @Html.ActionLink("AuditLog", "AuditLog", new { id = item.MSGID, piServer = piServer }, new { target = "_blank" })
                            <br />
                            @Html.ActionLink("Process Step", "ProcessDB", new { id = item.MSGID, piServer = piServer }, new { target = "_blank" })
                        </td>
                        <td style="font-size:xx-small; word-wrap: break-word;">
                            <table class="table table-bordered table-striped table-condensed">
                                <tr>
                                    <th style="width:20%">@Html.DisplayNameFor(model => model.FILEURI)</th>
                                    <td style="font-size:xx-small; word-wrap: break-word;">@Html.DisplayFor(modelItem => item.FILEURI)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.PI_STATUS)</th>
                                    <td>@Html.DisplayFor(modelItem => item.PI_STATUS)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.PI_ERROR_CODE)</th>
                                    <td>@Html.DisplayFor(modelItem => item.PI_ERROR_CODE)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.PI_ERROR_CATEGORY)</th>
                                    <td>@Html.DisplayFor(modelItem => item.PI_ERROR_CATEGORY)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.IDOC_CALLBACK_MSG)</th>
                                    <td>@Html.DisplayFor(modelItem => item.IDOC_CALLBACK_MSG)</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!--
            <tr>
                <th>@Html.DisplayNameFor(model => model.KEYWORD_SEARCH)</th>
                <td colspan="6">@Html.DisplayFor(modelItem => item.KEYWORD_SEARCH)</td>
            </tr>
                -->
                }
            </table>
        </td>
    </tr>
</table>
<div class="col-xs-12 col-md-12 col-lg-12">
    <pre>@SqlString</pre>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <input type="text" name="ItemId" id="ItemId" style="border:0; padding:0;" value="" readonly />
                </h4>
            </div>
            <div class="modal-body">
                @Html.TextArea("ItemContent", "", new { @class = "form-control", @placeholder = "Paste Number Here...", @cols = 15, @rows = 10, style = "width: 100%" })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" onclick="javascript: setTextValue();">Close</button>
            </div>
        </div>
    </div>
</div>
