@model Meetings.Models.vMeetingDateMemberLog
@using Meetings.Models;
@using Meetings.Controllers.General;
@using System.Text;
@{
    string Title = Constant.GetAppSettings("HomeIndexName");
    string MeetingName = string.Empty;
    string ActivateId = ((Guid)ViewBag.ActivateId).ToString();
    ViewBag.Title = Title;
    //IEnumerable<MeetingDateLog> logmeetingList = (IList<MeetingDateLog>)Constant.LogMeetingList.logMeetingList.OrderByDescending(x=>x.LoginTime).ToList();
    IEnumerable<vMeetingDateMemberLog> vmdmls = (IEnumerable<vMeetingDateMemberLog>)ViewData["vMeetingDateMemberLogs"];
    string PartialMeetingDateMemberLogs = "PartialMeetingDateMemberLogs";
    string ReturnResult = (string)ViewBag.ReturnResult;
    IMeetingDateActivate imda = DataAccess.CreateMeetingDateActivate();
    vMeetingDateActivate vmda = imda.GetCurrent(Guid.Parse(ActivateId));
    MeetingName = vmda.MeetingName;
    string MeetingDateDescription = vmda.Description;
    string ActivateDesc = vmda.ActivateDesc;
    StringBuilder sb = new StringBuilder();
    sb.Append(MeetingName);
    sb.Append(".");
    sb.Append(MeetingDateDescription);
    sb.Append(".");
    sb.Append(ActivateDesc);
}
<script type="text/javascript">
    var rslt = null;
    rslt = "@ViewBag.ReturnResult";
    $(document).ready(function () {
        $('#idBarcode').focus();
        $('#idBarcode').val('');
        if (rslt == "成功" || rslt == "已登入過") {
            $('#beep').click();
			var audio = new Audio('/Meetings/Sound/beep1_successfull.mp3');
			audio.play();
        }
    });

    function PlaySound() {
        sound.play('laser');
    }

	var sound = new Howl({
        urls: ['/Meetings/Sound/beep1_successfull.mp3', 'sounds.ogg'],
        sprite: {
            blast: [0, 2000],
            laser: [0, 1000],
            winner: [5000, 9000]
        }
    });
</script>
@if (!string.IsNullOrEmpty(ViewBag.ReturnResult))
{
    if (ViewBag.ReturnResult == "成功")
    {
        <div class="alert alert-info" id="beep" name="beep" onclick="javascript:PlaySound()">
            <h2><strong>Message:</strong> @ViewBag.ReturnResult</h2>
        </div>
    }
    else
    {
        <div class="alert alert-warning" id="beep" name="beep" onclick="javascript:PlaySound()">
            <h2><strong>Message:</strong> @ViewBag.ReturnResult</h2>
        </div>
    }
}

<div class="row">
    <div class="col-md-12">
        <h2>
            Getting started
            @Html.ActionLink(sb.ToString(), "DetailList", new { id = ActivateId })
        </h2>
        <p>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data", name = "meeting", id = "meeting" }))
            {
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <th style="width: 15%">
                            Barcode
                        </th>
                        <th>姓名</th>

                        <th>登入時間</th>
                        <th>
                            <input type="submit" value="搜尋" style="width:90%" />
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(model => model.UserCode, new { @style = "width:95%", autofocus = "", id = "idBarcode" })
                        </td>
                        <td>
                            @Html.ValueFor(model => model.UserName)
                        </td>
                        <td>
                            @Html.ValueFor(model => model.LoginTime)
                        </td>
                        <td>
                            @Html.HiddenFor(model => model.ActivateId, new { id = "id", name = "id" })
                        </td>
                    </tr>
                </table>
            }
        </p>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-condensed">
            <tr>
                <td style="vertical-align: top;">
                    @if (ViewData["vMeetingDateMemberLogs"] != null)
                    {
                        @Html.Partial(PartialMeetingDateMemberLogs, vmdmls)
                    }
                </td>
            </tr>
        </table>
    </div>
</div>