@model IEnumerable<Meetings.Models.vMeetingDateAttendStatus>
@using Meetings.Models;
@using Meetings.Controllers.General;
@using System.Text;

@Html.HiddenFor(model => model.FirstOrDefault().ActivateId)
<div class="row"> 
        @if (ViewBag.Sex != null)
        {
            if (!string.IsNullOrEmpty(ViewBag.Sex))
            {
                if (ViewBag.Sex == "B" || ViewBag.Sex == "S")
                {
                    @Html.ActionLink("未出席", "Report", "Home", new { id = Model.FirstOrDefault().ActivateId, Sex = ViewBag.Sex, Attend = false }, "")
                }
            }
        }
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-condensed">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().LoginTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().UserCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Sex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Attend)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                if (item != null)
                {
                    <tr>
                        <td class="display-field">
                            @Html.DisplayFor(modelitem => item.LoginTime)
                        </td>
                        <td class="display-field">
                            @Html.DisplayFor(modelitem => item.UserCode)
                        </td>
                        <td class="display-field">
                            @Html.DisplayFor(modelitem => item.UserName)
                        </td>
                        <td class="display-field">
                            @Html.DisplayFor(modelitem => item.Sex)
                        </td>
                        <td class="display-field">
                            @Html.DisplayFor(modelitem => item.Attend)
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>