@using KMSharepointSync.Models
@model IEnumerable<SharepointKM_FilePathMapping>
@{
    ViewBag.Title = "Sharepoint & KM FilePathMapping";
    ViewBag.Message = "SELECT * FROM KMDBAPIPRD.dbo.v_SharepointKM_FilePathMapping MA ORDER BY MA.[SP_sortOrder]";
    string Url = "#";
    int iRow = 0;
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <h3>@ViewBag.Message</h3>
    <p class="lead">
        View SharepintOnline Shared documents and KM File mapping list
    </p>
    <p>
        <a href=@Url class="btn btn-primary btn-lg" target="_blank">@ViewBag.Title &raquo;</a>
    </p>
</div>
<div>
    <table class="table table-bordered table-striped table-condensed" style="width:100%">
        <tr>
            <th>RowNum</th>
            <th>@Html.DisplayNameFor(model => model.KM_DOCUMENT_ID)</th>
            <th>@Html.DisplayNameFor(model => model.KM_FolderId)</th>
            <th>@Html.DisplayNameFor(model => model.KM_Path)</th>
            <th>@Html.DisplayNameFor(model => model.SP_FileLeafRef)</th>
            <th>@Html.DisplayNameFor(model => model.SP_Author)</th>
            <th>@Html.DisplayNameFor(model => model.SP_Created)</th>
        </tr>
        @foreach (var item in Model)
        {
            iRow++;
            <tr>
                <td>@iRow</td>
                <td>@Html.DisplayFor(modelItem => item.KM_DOCUMENT_ID)</td>
                <td>@Html.DisplayFor(modelItem => item.KM_FolderId)</td>
                <td>@Html.DisplayFor(modelItem => item.KM_Path)</td>
                <td>
                    <a href="@item.SP_FileRef" target="_blank">@item.SP_FileLeafRef</a>
                </td>
                <td>@Html.DisplayFor(modelItem => item.SP_Author)</td>
                <td>@Html.DisplayFor(modelItem => item.SP_Created)</td>
            </tr>
        }
    </table>
</div>