@model IEnumerable<Meetings.Models.vMeetingDateMember>
@using Meetings.Models;
@using Meetings.Controllers.General;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string searchCode = (string.IsNullOrEmpty(ViewBag.SearchCode)) ? string.Empty : ViewBag.SearchCode;
}
<div class="row">
    <div class="col-md-12">
        <p>
            @using (Html.BeginForm("Index", "MeetingDateMember", FormMethod.Post, new { enctype = "multipart/form-data", name = "meetingdateActivate", id = "meetingdateActivate" }))
            {
                <div class="col-md-8">
                    @Html.TextBox("code")
                </div>
                <div class="col-md-4">
                    <input type="submit" value="搜尋" />
                </div>
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().MeetingName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().UserCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().CDT)
                        </th>
                        <th>Action</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        if (item != null)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelitem => item.MeetingName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.UserCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.CDT)
                                </td>
                                <td>
                                    @Html.ActionLink("Remove", "Delete", new { id=item.uniqueId, code= searchCode })
                                </td>
                            </tr>
                        }
                    }
                </table>
            }
        </p>
    </div>
</div>