@model StaticPagedList<CERLLAB.Models.vFCERLHeader>
@using CERLLAB.Controllers.General;
@using CERLLAB.Models;
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "個人待簽表單";
    queryCondition query = (queryCondition)ViewBag.queryContidion;
}
<head>
    <title>@ViewBag.Title @ViewBag.Message</title>
    <style type="text/css">
        .ui-widget {
            font-family: 微軟正黑體;
            font-size: 0.85em;
        }

        .ui-accordion-header {
            font-weight: bolder;
        }

        .wrapper {
            width: 95%;
        }
    </style>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#FromDate").datepicker({
                dateFormat: "yy/mm/dd",
                regional: "zh-TW",
                showAnim: "drop"
            });
            $("#EndDate").datepicker({
                dateFormat: "yy/mm/dd",
                regional: "zh-TW",
                showAnim: "drop"
            });
        });
    </script>
</head>
<table class="ui-widget">
    <tr style="background: #ffffff">
        <td valign="top" style="width:82%; margin:2% 2%;">
            @using (Html.BeginForm("Index", "F_CERL", FormMethod.Get))
            {
                <table class="jtable" style="width:95%; margin: 2% 2%;">
                    <tr>
                        <th style="width: 15%">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().CaseID)搜尋
                        </th>
                        <td>
                            @Html.TextBox("CaseID", "", new { @style = "width:95%" })
                        </td>
                        <th>Part or Serial Number</th>
                        <td>
                            @Html.TextBox("SerialNumber")
                        </td>
                        <th>Date From:</th>
                        <td>
                            @Html.TextBox("FromDate")
                        </td>
                        <th>Date End:</th>
                        <td>
                            @Html.TextBox("EndDate")
                        </td>
                        <th>
                            <input type="submit" value="搜尋" style="width:90%" />
                        </th>
                    </tr>
                </table>
            }
            @Html.PagedListPager((IPagedList)ViewBag.OnePageOfList, page => Url.Action("Index", new { page = page, CaseID = query.CaseID, SerialNumber = query.SerialNumber, FromDate = query.FromDate, EndDate = query.EndDate }),
                     PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "list_grid" }))
            <table class="jtable" id="list_grid" style="table-layout: fixed;">
                <tr>
                    <th style="width: 5%">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().UID)
                    </th>
                    <th style="width: 12%">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().CaseID)
                    </th>
                    <th style="width: 10%">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Applicant)
                    </th>
                    <th style="width: 13%">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().PartNumber)
                    </th>
                    <th style="width: 13%;">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().SerialNumber)
                    </th>
                    <th style="width: 10%">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().LabMember)
                    </th>

                    <th style="width: 5%">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().cdt)
                    </th>
                    <th style="width: 7%"></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="font-size:0.85em;">
                            @Html.DisplayFor(modelItem => item.UID)
                        </td>
                        <td style="font-size:0.85em;">
                            @Html.DisplayFor(modelItem => item.CaseID)
                        </td>
                        <td style="font-size:0.85em;">
                            @Html.DisplayFor(modelItem => item.Applicant)
                        </td>
                        <td style="font-size:0.85em; ">
                            @Html.DisplayFor(modelItem => item.PartNumber)
                        </td>
                        <td style="font-size:0.85em; ">
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                        <td style="font-size:0.85em;">
                            @Html.DisplayFor(modelItem => item.LabMember)
                        </td>
                        <td style="font-size:0.85em;">
                            @Html.DisplayFor(modelItem => item.cdt)
                        </td>
                        <td style="font-size:0.85em;">
                            @Html.ActionLink("簽核", "EditLAB", new { id = item.ID }) |
                            @Html.ActionLink("明細", "DetailsLAB", new { id = item.ID })
                        </td>
                    </tr>
                }
            </table>
            @Html.PagedListPager((IPagedList)ViewBag.OnePageOfList, page => Url.Action("Index", new { page = page, CaseID = query.CaseID, SerialNumber = query.SerialNumber, FromDate=query.FromDate, EndDate = query.EndDate }),
                     PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "list_grid" }))
        </td>
    </tr>
</table>
