@model IEnumerable<CERLLAB.Models.vFCERL>
@using CERLLAB.Controllers.General;
@using CERLLAB.Models;
@{
    ViewBag.Title = "Index";
    int RoleId = Constant.UserRoleId;
    string UserId = Method.GetLogonUserId(Session, User.Identity.Name.ToUpper());
    string TreeView = "ItemTreeView";
    string webroot = Constant.WebRoot;
    string TreeViewRoot = webroot + "/F_CERL/Report";
    ItemTreeDbSet tr = new ItemTreeDbSet(TreeViewRoot);
    ItemTree tree = tr.GetData(TreeViewRoot, UserId, 0, mIsShowReport:1, mIsShowUnsignForm:0);
    string PartialItemTreePath = "PartialItemTreePath";
    CERLEntities edb = new CERLEntities();
    IList<FnGetItemParentListById_Result> parentlist = tr.GetParentList(ViewBag.id);
    ViewData["parentlist"] = parentlist;
}
<head>
    <title>@ViewBag.Message</title>
    <style type="text/css">
        .ui-widget {
            font-family: 微軟正黑體;
            font-size: 0.86em;
        }

        .ui-accordion-header {
            font-weight: bolder;
        }

        .wrapper {
            width: 95%;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#FromDate").datepicker({
                dateFormat: "yy/mm/dd",
                regional: "zh-TW",
                showAnim: "drop"
            });
            $("#EndDate").datepicker({
                dateFormat: "yy/mm/dd",
                regional: "zh-TW",
                showAnim: "drop"
            });
        });
    </script>
</head>
<table class="claro">
    <tr style="background: #ffffff">
        <td style="vertical-align:top; text-align:left; width:120px; margin: 1%; font-size: 1.5em;">
            @Html.Partial(TreeView, tree)
        </td>
        <td valign="top" style="width:82%; margin:2% 2%;">
@using (Html.BeginForm("Report", "F_CERL", FormMethod.Get))
{
    <table class="jtable" style="width:95%; margin: 2% 2%; ">
        <tr>
            <th style="width: 10%">CERL LAB</th>
            <td>
                @Html.TextBox("searchString", "", new { @style = "width:95%" })
            </td>
            <th>Date From:</th>
            <td>
                @Html.TextBox("FromDate")
            </td>
            <th>Date End:</th>
            <td>
                @Html.TextBox("EndDate")
            </td>
            <th rowspan="3">
                <input type="submit" value="搜尋" style="width:90%" />
            </th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UID)</th>
            <td>
                @Html.TextBox("UID")
            </td>
            <th>@Html.DisplayNameFor(model => model.CaseID)</th>
            <td>
                @Html.TextBox("CaseID")
            </td>
            <th>@Html.DisplayNameFor(model => model.CustomerID)</th>
            <td>
               @Html.DropDownList("CustomerID",(SelectList)ViewData["CustomerNameList"])
            </td>

        </tr>
        <tr>
            <th>Part or Serial Number</th>
            <td>
                @Html.TextBox("SerialNumber")
            </td>
            <th>@Html.DisplayNameFor(model => model.LabMember)</th>
            <td>
                @Html.TextBox("LabMember")
            </td>
            <th>@Html.DisplayNameFor(model => model.Applicant)</th>
            <td>
                @Html.TextBox("Applicant")
            </td>

        </tr>
    </table>
}
            <div style="width:95%; margin: 2% 2%;">
                @Html.Partial(PartialItemTreePath, parentlist)
            </div>
            <table class="jtable" style="table-layout: fixed;">
                <tr>
                    <th style="width:6%;">
                        @Html.DisplayNameFor(model => model.UID)
                    </th>
                    <th style="width:8%;">
                        @Html.DisplayNameFor(model => model.CaseID)
                    </th>
                    <th style="width:9%;">
                        @Html.DisplayNameFor(model => model.Applicant)
                    </th>
                    <th style="width:8%;">
                        @Html.DisplayNameFor(model => model.PartNumber)
                    </th>
                    <th style="width:8%;">
                        @Html.DisplayNameFor(model => model.SerialNumber)
                    </th>
                    <th style="width:12%;">
                        @Html.DisplayNameFor(model => model.BackgroundDesc)
                    </th>
                    <th style="width:12%;">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().AnalysisResult)
                    </th>
                    <th style="width:9%;">
                        @Html.DisplayNameFor(model => model.LabMember)
                    </th>
                    <th style="width:7%;">
                        @Html.DisplayNameFor(model => model.udt)
                    </th>
                    <th style="width:4%;"></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="font-size:0.7em;">
                            @Html.DisplayFor(modelItem => item.UID)
                        </td>
                        <td style="font-size:0.7em;">
                            @Html.DisplayFor(modelItem => item.CaseID)
                        </td>
                        <td style="font-size:0.85em;">
                            @Html.DisplayFor(modelItem => item.Applicant)
                        </td>
                        <td style="font-size:0.85em;">
                            @Html.DisplayFor(modelItem => item.PartNumber)
                        </td>
                        <td style="font-size:0.85em;">
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                        <td style="font-size:0.85em;">
                            @Html.DisplayFor(modelItem => item.BackgroundDesc)
                        </td>
                        <td style="font-size:0.85em;">
                            @Html.DisplayFor(modelItem => item.AnalysisResult)
                        </td>
                        <td style="font-size:0.85em;">
                            @Html.DisplayFor(modelItem => item.LabMember)
                        </td>
                        <td style="font-size:0.7em;">
                            @Html.DisplayFor(modelItem => item.udt)
                        </td>
                        <td style="font-size:0.8em;">
                            @Html.ActionLink("檢視", "DetailsLAB", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
        </td>
        </tr>
</table>



