@model CERLLAB.Models.CERLMenu

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CERLMenu</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.menuId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.menuId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.menuType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.menuType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.menuText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.menuText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.parentMenuId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.parentMenuId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sortOrder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sortOrder)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.navigateUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.navigateUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.menuTarget)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.menuTarget)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cdt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cdt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.udt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.udt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.editor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.editor)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
