@model Barcelona.Models.EventVision

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tempSimEventVision</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdultQty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdultQty)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Area)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Area)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.X)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.X)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Y)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Y)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cdt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cdt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IPCamID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IPCamID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
